<div
  style="color: white; font-size: smaller; height: 140px; text-align: center"
>
  <span>
    <br />
    &nbsp; non-blogging <br />
    &nbsp; 사업자등록번호 : 000-00-00000<br />
    &nbsp; 주소 : 서울특별시 용산구 한강로 <br />
    &nbsp; 대표번호: 1644-0000<br />
    &nbsp; Copyright(c) 2023 non-blogging. All Rights Reserved.
  </span>
</div>
</div>
