<form name="myBlogForm" action="/notebook" method="post">
    
</form>

<script>
    // function myBlog() {
    //     const form = document.forms["myBlogForm"];
    //     form.submit();
    // }

    // 개인 프로젝트할 때 사용한 코듭니다.
    // function logout() {
    //     axios({
    //         method: 'delete',
    //         url: `/logout`,
    //     }).then((res) => { 
    //         alert("로그아웃 성공!");
    //     }).catch((err) => {
    //         alert("로그아웃을 할 수 없습니다.");
    //     })
    // }

    // function myInfo() {
    //     const form = document.forms["myInfoForm"];
    //     const user = {
    //         userId: form.userId.value,
    //         email: form.email.value
    //     }

    //     axios({
    //         method: 'get',
    //         url: `/user/${user.userId}`,
    //         data: user
    //     }).then((res) => {
    //         const formInfo = document.forms["myInfoForm"];
    //         formInfo.submit();
    //     }).catch((err) => {
    //         alert("프로필 수정 페이지에 접근할 수 없습니다.");
    //     });
    // }

    // function logout() {
    //     axios({
    //         method: 'delete',
    //         url: `/user/logout`,
    //     }).then((res) => { 
    //         console.log(res);
    //     }).catch((err) => {
    //         alert("로그아웃을 할 수 없습니다.");
    //     })
    // }
</script>