<nav
  class="navbar navbar-expand-lg navbar-light"
  style="background-color: #ece8e4"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="/notebook/allblog"
      ><img src="/logo.png" style="height: 40px" alt=""
    /></a>

    <div class="fw-bold d-flex" id="nav">
      <a class="nav-link me-3" href="/notebook/allblog">Home</a>
      <a class="nav-link me-3" href="/notebook">My blog</a>
      <a class="nav-link me-3" onclick="logout()" href="/user/login">Logout</a>
      <a class="nav-link me-3" onclick="myInfo()" href="/user/myinfo"
        >My info</a
      >
    </div>
  </div>
</nav>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
  const logout = () => {
    axios.get("/user/logout");
  };

  const myInfo = () => {};
</script>
