<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
</head>
<body>
    <div style="height:500px;display: flex; justify-content:center; align-items:center; gap:40px">
        <h1>maing 화면</h1>

            <button type="button" onclick="onClick()">blogging 하러가기</button>
    </div>

</body>

<script>
    const onClick = ()=>{
        location.href ='/user/login'
    }
</script>
</html>