<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Join us</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <style>

  </style>
  <body style="background-color: #ece8e4;">

    <div class=" container" style="width: 40%; height: 100vh; margin-top:10% ">
      <section>
        
        <a href="/login" style="display: flex;">
          <img src="/logo.png" style="height: 70px;" class="mb-5 mx-auto" alt="">
        </a>
        <form>
          <div class="mb-2">
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email">
          </div>
          <div class="mb-2">
            <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="PW">
          </div>
          <div class="mb-2">
            <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="Check PW">
          </div>
          <div class="mb-2">
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nick-name">
          </div>

          <button class="btn mb-2" style="width: 100%;color:white; background-color:#ae7f5f">Join us</button>
          
            <div style="display: flex;   ">

                <p style="margin-right: 5px; font-size:15px; ">회원등록 되어있다면</p>
                 <a   href="login">Log in</a>
            </div>

        </form>
      </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>
